.navbar-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar-item {
	width: 200px;
}

.logobar-container {
	display: flex;
	justify-content: center;
	width: 200px;
}

.button-container {
	height: 30px;
	float: right;
	position: relative;
}

.button-container button{
	height: 30px;
	background-color: #3AAFA9;
	border: none;
	border-radius: 3px;
	margin-left: 4px;
}

.button-container button:hover {
	cursor: pointer;
	filter: brightness(85%);
}

.page-header {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}
