button[name='inner'] {
	height: 30px;
	width: 50px;
	position: absolute;
	bottom: 30px;
  right: 30px;
}

.innerp {
	position: absolute;
	border-radius: 3px;
	height: 200px;
	width: 350px;
	background-color: red;
	opacity: 1;
	transform: translate(-50%, -50%);
	top: 45%;
	left: 50%;
	z-index: 2;
}

.popup-outer {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0, 0.2);
	z-index: 1;
}

.popup-title {
	text-align: center;
}

.popup-body {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
