.dyn_star {
  transition: color .2s ease-out;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.static_star {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.post_button {
  border-radius: 2px;
}

.review_box {
  border-radius: 2px;
}
